<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="data_sources.xml"/>
    <import resource="asap_local_cc_jobs.xml"/>
    <import resource="asap_structure_jobs.xml"/>
    <import resource="asap_catalog_jobs.xml"/> 
    <import resource="asap_chemical_annotations.xml"/>
    <import resource="asap_service_factory.xml"/>
   
	<bean id="rowMapper" class="solutions.dao.spring.batch.DataRowMapperSetter" scope="prototype">
	</bean>
	<bean id="itemPreparedStatementSetter" class="solutions.dao.spring.batch.DataRowMapperSetter" scope="prototype">	
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		lazy-init="true">
		<property name="dataSource" ref="dataSource" />
	</bean>
	

<!-- p:dataSource-ref="dataSource" p:transactionManager-ref="transactionManager" -->
<!--  MapJobRepositoryFactoryBean or obRepositoryFactoryBean -->
<!-- org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean -->
	<!-- bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
	</bean-->

	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="isolationLevelForCreate" value="ISOLATION_READ_COMMITTED"/>
	</bean>
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>
	

	<!-- ************************************************** -->
	<!-- Clear files in report directory -->
	<bean id="emptyReportsDirectoryTasklet" class="org.springframework.batch.core.step.tasklet.MethodInvokingTaskletAdapter">
                <property name="targetObject" ref="emptyReportsDirectoryCommand"/>
                <property name="targetMethod" value="execute" />
     </bean>
            
	<bean id="emptyReportsDirectoryCommand" class="solutions.global.io.EmptyFolderExecutable">
		<property name="folderPath" value="runtime/reports/"/>
    </bean>
    
    <bean id="taskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor" />
    
    <bean id="compoundService" class="mycompany.integration.services.CompoundMgmt">
    </bean>
   <!-- ************************************************** -->
	<!-- Error Handling common -->
	<bean id="BATCH_ERROR_LISTENER" class="solutions.dao.spring.batch.SpringBatchErrorListener">
	    <property name="readErrorCmd" ref="emailCommandError"/>
		<property name="processErrorCmd" ref="emailCommandError"/>
		<property name="writeErrorCmd" ref="emailCommandError"/>
	    <property name="faultService" ref="faultService"/>
    </bean>
	<bean  id="emailCommandError" class="solutions.global.patterns.command.net.EmailCommand">
	    		<property name="subject" value="${solutions.global.exception.EmailFaultCommand.SUBJECT}"/>
	    		<property name="to" value="${solutions.global.exception.EmailFaultCommand.TO}"/>
	    		<property name="textDecorator">
	    			<bean class="solutions.global.exception.fault.FaultFormatTextDecorator">
	    				<property name="templateName" value="${solutions.global.exception.EmailFaultCommand.TEMPLATE_NAME}"/>
	   
	    			</bean>
	    		</property>
	    	</bean>
	<bean id="faultService" class="solutions.global.exception.fault.FaultMgr">
				<property name="faultErrorMap">
					<map>
						<entry>
							<key>
								<value>org.springframework.batch.core.JobExecutionException</value>
							</key>
								<bean class="solutions.global.exception.fault.FaultError">
									<constructor-arg index="0" type="java.lang.String" value="0001"/>
								    <constructor-arg index="1" type="java.lang.String" value="BATCH"/>
								</bean>
						</entry>
						<entry>
							<key>
								<value>org.springframework.batch.core.step.FatalStepExecutionException</value>
							</key>
							<bean class="solutions.global.exception.fault.FaultError">
									<constructor-arg  index="0" type="java.lang.String" value="0002"/>
								    <constructor-arg index="1" type="java.lang.String" value="BATCH"/>
								</bean>
						</entry>
					</map>
				</property>
			</bean>
</beans>